* {
    text-decoration: none;
    margin: 0px;
    padding: 0px;
}

body {
    margin: 0px;
    padding: 0px;
    font-family: 'Open Sans',sans-serif;
}

.wrapper {
    width: 1100px;
    margin: auto;
    position: relative;
}

.logo a {
    font-size: 50px;
    font-weight: bold;
    float: left;
    font-family: courier;
    color: #FF9130;
}

.menu {
    float: right;
}

nav {
    width: 100%;
    margin: auto;
    display: flex;
    line-height: 80px;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    background: #FFFFFF;
    z-index: 1;
    border-bottom:1px solid #FF9130;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav ul li {
    float: left;
}

nav ul li a {
    color: black;
    font-weight: bold;
    text-align: center;
    padding: 0px 16px 0px 16px;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
}

section {
    margin: auto;
    display: flex;
    margin-bottom: 50px;
}

.kolom {
    margin-top: 50px;
    margin-bottom: 50px;
}

.kolom .deskripsi {
    font-size: 20px;
    font-weight: bold;
    font-family: 'comic sans ms';
    color: #FF9130;
}

h2 {
    font-family: 'comic sans ms';
    font-weight: 800;
    font-size: 45px;
    margin-bottom: 20px;
    color: #CE7D00;
    width: 100%;
    line-height: 50px;
    text-align: center;
}

a.tbl-putih {
    background: #EEF2FF;
    border-radius: 20px;
    margin-top: 20px;
    padding: 10px 20px 10px 20px;
    color: #366ED8;
    cursor: pointer;
    font-weight: bold;
}

a.tbl-putih:hover {
    background: #CE7D00;
    text-decoration: none;
}

a.tbl-biru {
    background: #366ED8;
    border-radius: 20px;
    margin-top: 20px;
    padding: 10px 20px 10px 20px;
    color: #EEF2FF;
    cursor: pointer;
    font-weight: bold;
}

a.tbl-biru:hover {
    background: #CE7D00;
    text-decoration: none;
}

a.tbl-orange {
    background: #CE7D00;
    border-radius: 20px;
    margin-top: 20px;
    padding: 10px 20px 10px 20px;
    color: #EEF2FF;
    cursor: pointer;
    font-weight: bold;
}

a.tbl-orange:hover {
    background: #366ED8;
    text-decoration: none;
}

p {
    margin: 10px 0px 10px 0px;
    padding: 10px 0px 10px 0px;
}

.tengah {
    text-align: center;
    width: 100%;
}

.list-menu {
    width: 100%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
}

.kartu-menu {
    width: 20%;
    margin: 0 auto;
}

.kartu-menu img {
    width: 80%;
    border-radius: 50%;
}

.kartu-menu p {
    font-family: 'comic sans ms';
    font-weight: 800;
    font-size: 25px;
    text-align: center;
    color: #FF9130;
}

#copyright {
    text-align: center;
    width: 100%;
    padding: 50px 0px 50px 0px;
    margin-top: 50px;
}

.bg-loader {
    background-color: #eee;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bg-loader .loader {
    width: 100px;
    height: 100px;
    border: 3px solid #fff;
    border-radius: 50%;
    border-top-color: #FF9130;
    border-right-color: #FF9130;
    border-bottom-color: #FF9130;
    animation: puterin .5s linear infinite;
}

.label {
    background: #F4DFC8;
    color: black;
}

@keyframes puterin {
    100% {
        transform: rotate(360deg);
    }
}